
body {
  font-family: 'Bodoni Moda', serif;
}

.header {
  text-align: left;
  color:lightslategray; 
  font-family: 'microsoft himalaya';
  font-size: 20px;

    display: block;
}

h2 {
    font-size: 17px;
    margin-block-end: 0.2em;

}

p {
    font-size: 13px;
}

#menu {
    width: 220px;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 100%;
    background-color: #F1F4F1;
    padding: 18px 0px 0px 30px;
}

@media screen and (max-height: 450px) {
  #menu {padding-top: 18px;}
  #menu a {font-size: 18px;}
}

/* Style the sidenav links and the dropdown button */
#menu a, .dropdown-btn {
    padding: 6px 8px 6px 5px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(98, 109, 117);
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-family: "microsoft himalaya";

  }

  /* On mouse-over */
#menu a:hover, .dropdown-btn:hover {
    color: rgb(184, 184, 184);
  }

    /* Add an active class to the active dropdown button */
.active {
  background-color:none;
  color: none;
}
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: active;
    background-color: none;
    padding-left: 8px;
     }

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
.container {
    padding: 5px 5px 25px 5px;
}

}
.audio {
    padding: 100px 0px 0px 260px;
    position:absolute;
    z-index: index -2;
}

.description{
    float: left;
    width: 400px;
    text-align: justify;
    line-height: 18px;
}

#img-container {  
    padding: 100px 0px 0px 260px ; 
    width: 6700px;
    height: 500px;
    position: absolute;
    z-index: -1;
}

.picture_holder  {
  width: 6500px;
    height: 500px;
}

#img-container .picture_holder img {
    padding-left: 100px;
    float: left;
}

#footer {
    position: fixed;
    padding-top: 5px;
    bottom: 10px;
    font-size: 9px;
    color: #cccccc;
    z-index: -1 !important;
}